.expenses {
	padding: 1rem;
	background-color: rgb(31, 31, 31);
	margin: 2rem auto;
	width: 50rem;
	max-width: 95%;
	max-height: 80vh;
	/* height: 20% */
  }

  .scroll {
	max-height: 53vh;
	overflow:visible;
	overflow-x: hidden;
	padding-right: 1em;
  }

  ::-webkit-scrollbar {
	width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #363636;
	height: 90%;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }